[submodule "oneVPL"]
	path = oneVPL
	url = https://github.com/intel/libvpl.git
[submodule "libva"]
	path = libva
	url = https://github.com/intel/libva.git
[submodule "libva-utils"]
	path = libva-utils
	url = https://github.com/intel/libva-utils.git
[submodule "mesa"]
	path = mesa
	url = https://gitlab.freedesktop.org/mesa/mesa.git
[submodule "DirectX-Headers"]
	path = DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
